@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-bg {
        background-color: #000000;
        background-image:
            linear-gradient(rgba(0, 191, 255, 0.15) 1px, transparent 1px), /* Deep Sky Blue */
            linear-gradient(90deg, rgba(0, 255, 255, 0.15) 1px, transparent 1px); /* Cyan */
        background-size: 2rem 2rem;
    }
}