@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom scrollbar for better aesthetics */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}

/* Custom radial gradient background for specific dashboards */
.bg-radial-gradient-c {
  background: radial-gradient(circle at center, var(--tw-gradient-stops));
}

/* Custom grid background for specific dashboards */
.grid-bg {
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}
