@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-bg {
        background-color: #000000;
        background-image:
            linear-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px),
            linear-gradient(90deg, rgba(0, 255, 255, 0.1) 1px, transparent 1px);
        background-size: 2rem 2rem;
    }
}